.header {
	height: 120vh;
	padding-top: 2rem;
	background-image: url("../../images/header_iphone.png"),
		url("../../images/banner_background.jpg");
	background-position: bottom -33rem center, center;
	background-repeat: no-repeat;
}
