.banner {
	margin-top: 5rem;
	max-width: 100vw;
	@include display-flex(column, wrap, center, center);

	&__text {
		max-width: 63rem;
		text-align: center;
		&--heading {
			font-size: 5rem;
		}
		&--description {
			font-size: 1.6rem;
			line-height: 1.5;
			color: $banner-text-color;
		}
	}
}
