.menu {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
	@include display-flex(row, wrap, space-between, center);
	&__item {
		margin-left: 4rem;
		color: $text-primary-color;
	}
	&__post {
		&--right a:nth-child(1) {
			color: $text-third-color;
		}
	}
}

.logo {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
.icon__apple {
	margin-right: 1.5rem;
	font-size: 2.5rem;
}
