$max-width-container: 1170px;
$max-width-wrapper: 1600;

$background-color: #f3f3f5;
$background-screen-color: #f5f5f8;

$text-primary-color: #26272d;
$text-secondary-color: #d9dbdd;
$text-third-color: #9f9fa1;
$text-invite-color: #3a3d4b;
$text-search-color: #b2b3b5;

$banner-text-color: #8c8f94;

$button-getApp-bg: #267df4;
$button-banner-border-color: #dadcdf;
$button-action-border-color: #e9e9ea;
$button-invite-color: #6fc754;
$button-pricing-color: #267df4;

$line-color: #267df4;

$star-color: #f2bc3b;

$switch-background: #47a7dc;
$white: #252222;

$pricing-card-color: #ebebed;
